<ngx-graph 
  class="chart-container"
  [view]="[1000, 600]"
  [links]="linkData"
  [nodes]="nodeData"
  layout="dagre"
>
  <!-- Definizione del marker per la freccia -->
  <ng-template #defsTemplate>
    <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="6" markerHeight="6" orient="auto">
      <svg:path d="M0,-5L10,0L0,5" class="arrow-head" fill="#3498db" />
    </svg:marker>
  </ng-template>

  <!-- Template per il nodo -->
  <ng-template #nodeTemplate let-node>
    <svg:g  class="node">
      <svg:rect
        [attr.width]="100"
        [attr.height]="50"
        fill="url(#gradient)"
        stroke="#2980b9"
        stroke-width="3"
        rx="10" 
        ry="10"
      />
      <svg:text alignment-baseline="middle" [attr.x]="50" [attr.y]="25" text-anchor="middle" fill="white" font-size="14px" font-weight="bold">
        {{ node.label }}
      </svg:text>
    </svg:g>
  </ng-template>

  <!-- Template per il link -->
  <ng-template #linkTemplate let-link>
    <svg:g class="edge">
      <svg:path class="line" stroke-width="3" marker-end="url(#arrow)" stroke="#3498db" stroke-linecap="round" stroke-dasharray="5,5"></svg:path>
      <svg:text class="edge-label" text-anchor="middle" font-size="12px" fill="#3498db">
        <textPath class="text-path" [attr.href]="'#' + link.id" startOffset="50%">
          {{ link.label }}
        </textPath>
      </svg:text>
    </svg:g>
  </ng-template>


  <svg:defs>
    <svg:linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="100%">
      <svg:stop offset="0%" style="stop-color: #ffffff; stop-opacity: 1" />
      <svg:stop offset="100%" style="stop-color: #d51f1f; stop-opacity: 1" />
    </svg:linearGradient>
  </svg:defs>
</ngx-graph>
