<!-- Card -->
<div class="card" *ngFor="let work of works let i=index" >
  <button type="button" class="btn-close text-danger closeWork" aria-label="Close" (click)="delete(i)"></button>
  <div class="card-body">
    <h5 class="card-title">{{ work.name }}</h5>
    <p class="card-text">{{ work.description }}</p>
    <div class="d-flex gap-4 flex-row justify-content-center align-items-center">
      <button type="button" class="buttonsSide">Apri</button>
      <button type="button" class="buttonsSide">Edita</button>
      <p class="mt-3">Number of nodes: {{ work.nodes.length }}</p>
    </div>
  </div>
</div>

<!-- Pulsante "+" -->
<div class="d-flex mt-2 justify-content-center align-items-center">
  <button type="button" class="buttonAdd" (click)="openModal()">+</button>
</div>

<!-- Modale -->
<div class="modal fade" [ngClass]="{ 'show d-block': isModalOpen }" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Aggiungi Lavoro</h5>
        <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <!-- Nome -->
          <form (ngSubmit)="saveWork()" #workForm="ngForm">
          <div class="mb-3">
            <label for="workName" class="form-label">Nome</label>
            <input type="text" class="form-control" id="workName" [(ngModel)]="tempWork.name" name="name" required #workName="ngModel" required minlength="3">
            <p *ngIf="workName.invalid && workName.touched || workName.errors?.['minlength']" class="text-danger">Il nome è obbligatorio - min 3 char.</p>
          </div>
          <!-- Descrizione -->
          <div class="mb-3">
            <label for="workDescription" class="form-label">Descrizione</label>
            <textarea class="form-control" id="workDescription" rows="3" [(ngModel)]="tempWork.description" name="description" required maxlength="200"></textarea>
          </div>
          <!-- Nodi -->
          <div id="nodesContainer">
            <div *ngFor="let node of tempWork.nodes; let i = index" class="mb-3">
              <label [for]="'node' + i" class="form-label">Nodo {{ i + 1 }}</label>
              <input type="text" class="form-control" [name]="'node' + i" required maxlength="20" minlength="2" [(ngModel)]="tempWork.nodes[i]" #nodeModel="ngModel">
              <p *ngIf="nodeModel.touched && nodeModel.invalid" class="text-danger">
                Il nodo deve contenere almeno 2 caratteri.
              </p>
            
            </div>
          </div>
          <button type="button" class="btn btn-secondary mb-3" (click)="addNode()">Aggiungi Nodo</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Chiudi</button>
        <button *ngIf="!workForm.invalid" type="submit" class="btn btn-primary" (click)="saveWork()">Salva</button>
      </div>
    </div>
  </div>
</div>
